/*!********************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************!*\
  !*** css ./node_modules/next/dist/build/webpack/loaders/css-loader/src/index.js??ruleSet[1].rules[3].oneOf[14].use[2]!./node_modules/next/dist/build/webpack/loaders/postcss-loader/src/index.js??ruleSet[1].rules[3].oneOf[14].use[3]!./node_modules/next/dist/build/webpack/loaders/resolve-url-loader/index.js??ruleSet[1].rules[3].oneOf[14].use[4]!./node_modules/next/dist/compiled/sass-loader/cjs.js??ruleSet[1].rules[3].oneOf[14].use[5]!./styles/Home.modules.scss ***!
  \********************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************/
.circleText svg {
  animation: rotate 10s linear infinite;
  width: 30vw;
  height: 30vw;
  position: absolute;
  top: calc(50% - 15vw);
  left: calc(50% - 15vw);
  overflow: hidden;
}

@keyframes rotate {
  to {
    transform: rotate(-360deg);
  }
}
/*!****************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************!*\
  !*** css ./node_modules/next/dist/build/webpack/loaders/css-loader/src/index.js??ruleSet[1].rules[3].oneOf[3].use[1]!./node_modules/next/dist/build/webpack/loaders/next-font-loader/index.js??ruleSet[1].rules[3].oneOf[3].use[2]!./node_modules/@next/font/google/target.css?{"path":"app/page.tsx","import":"Amiri","arguments":[{"weight":"400","subsets":["latin"]}],"variableName":"amiri"} ***!
  \****************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************/
/* arabic */
@font-face {
  font-family: '__Amiri_ccca8e';
  font-style: normal;
  font-weight: 400;
  font-display: optional;
  src: url(/_next/static/media/57c8fe0ac72bf77c.woff2) format('woff2');
  unicode-range: U+0600-06FF, U+200C-200E, U+2010-2011, U+204F, U+2E41, U+FB50-FDFF, U+FE80-FEFC;
}
/* latin-ext */
@font-face {
  font-family: '__Amiri_ccca8e';
  font-style: normal;
  font-weight: 400;
  font-display: optional;
  src: url(/_next/static/media/9c34c3e030e35010.woff2) format('woff2');
  unicode-range: U+0100-024F, U+0259, U+1E00-1EFF, U+2020, U+20A0-20AB, U+20AD-20CF, U+2113, U+2C60-2C7F, U+A720-A7FF;
}
/* latin */
@font-face {
  font-family: '__Amiri_ccca8e';
  font-style: normal;
  font-weight: 400;
  font-display: optional;
  src: url(/_next/static/media/b8c22944ff90057f.p.woff2) format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}@font-face {font-family: '__Amiri_Fallback_ccca8e';src: local("Times New Roman");ascent-override: 113.63%;descent-override: 64.09%;line-gap-override: 0.00%;size-adjust: 98.92%
}.__className_ccca8e {font-family: '__Amiri_ccca8e', '__Amiri_Fallback_ccca8e';font-weight: 400;font-style: normal
}

