@tailwind base;
@tailwind components;
@tailwind utilities;

html {
  @apply font-Monrope;
}
body {
  min-height: 100vh;
  height: 100vh;
}

@keyframes marquee {
  0% {
    transform: translate3d($move-initial, 0, 0);
  }

  100% {
    transform: translate3d($move-final, 0, 0);
  }
}

@keyframes marquee-lg {
  0% {
    transform: translate3d(calc(-25% + 10vw), 0, 0);
  }

  100% {
    transform: translate3d(calc(-50% + 10vw), 0, 0);
  }
}
