.circleText {
  svg {
    animation: rotate 10s linear infinite;
    width: 30vw;
    height: 30vw;
    position: absolute;
    top: calc(50% - 15vw);
    left: calc(50% - 15vw);
    overflow: hidden;
  }
}

@keyframes rotate {
  to {
    transform: rotate(-360deg);
  }
}
